extends layout

block content
  div.container
    div#error-block
      h1#error-title= message
      h3.subtext= error.status
      if typeof(error.stack) != "undefined"
        h4 Here's what went wrong:
        pre.stack #{error.stack}

    include footer