div#footer
    p#copyright Copyright © Erik Roberts 2018
    div#links
        p#source
            a(href="https://github.com/bugfroggy/Portfolio") Source
        p#privacy-link
            a(href="/privacy") Privacy
    hr