extends layout
block head
    script(src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoadCallback&render=explicit", async, defer)
    script.
        function recaptchaLoadCallback() {
            grecaptcha.render('recaptcha', {
                'sitekey': '6LdJzDkUAAAAAJYKLpiY4Eyrg-ga6Ho0AWWf1Xm6',
                'callback': getEmail,
                'size': "invisible",
                'badge': "inline"
            });
            $("#email button").click(function () {

                // Set loading text & disable button - Remove it after 10 seconds in case of failure
                $("#email button").text("Loading...").attr("disabled", "disabled");
                setTimeout(function() {
                    $("#email button").text("Show Email").removeAttr("disabled");
                }, 10000);

                grecaptcha.execute()
            });
        }

        /**
        * Called by img onerror attribute; used for backwards compatibility with browsers that don't support webp
        */
        function imgLoadError(elem) {
            elem.onerror = "";
            elem.src = elem.src.substr(0, elem.src.length - 4) + "png";
        }

        function getEmail(token) {
            $.ajax({
                url: "captcha",
                method: "GET",
                data: {
                    token: token
                },
                dataType: "json"

            }).done(function(res) {
                if(res.ok) {
                    $("#email").html($("<a></a>").attr("href", "mailto:" + res.email).text(res.email));
                } else {
                    $("#email #err").text("Error retrieving email.");
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown.toString());
                $("#email #err").text("Error retrieving email.");
            })
        }

        let carouselValues = [
            "Full-stack developer",
            "Hypixel Moderator",
            "RPI Student",
            "Ultimate Cat-lover"
        ]
        let carouselIndex = 0;

        $("head").ready(function() {
            $("<link>")
                .attr("rel", "stylesheet")
                .attr("type", "text/css")
                .attr("href", "https://fonts.googleapis.com/css?family=Bitter")
                .appendTo($("head"));
        })

        // Load image post-HTML parse for faster render speeds
        $("#me").ready(function() {
            $("#me").attr("src", "images/me.webp");
        })

        $("#carousel").ready(function() {
            let $next = $(".next");
            let $current = $(".current");
            let $slide = $(".slide");
            function nextElement() {
                if(document.hidden) // Do nothing if the document is hidden
                    return;

                if (++carouselIndex > carouselValues.length - 1) carouselIndex = 0;

                $next.find("h3").text(carouselValues[carouselIndex]);
                $slide.animate({
                    opacity: "toggle",
                    left: "-=300px",
                    overflow: "hidden",
                    duration: 300
                }, function () {
                    $current.find("h3").text(carouselValues[carouselIndex]);
                    $next.css({left: "300px", display: "none"});
                    $current.css({left: 0, display: "inherit"})
                })
            }

            setInterval(nextElement, 3000);
        });

        $("#tabs").ready(function() {
            let clickTimeout;

            $(".tab").click(function() {
                let $tab = $(".tab");
                $tab.removeClass('tab-active');
                $(this).addClass('tab-active');

                let fadeTime = 200;
                $tab.each(function() {
                    if($($(this).data("target")).hasClass("content-active")) {
                        console.log("Hi");
                        $($(this).data("target")).removeClass("content-active")
                        $($(this).data("target")).css({display: "block"});
                    }
                    $($(this).data("target")).fadeOut(fadeTime);
                })

                let thisTmp = this;
                if(clickTimeout !== null) clearTimeout(clickTimeout)
                clickTimeout = setTimeout(function() {
                    $($(thisTmp).data("target")).fadeIn(fadeTime, function() {
                        $($(thisTmp).data("target")).addClass("content-active")
                    });
                }, 400)
            })
        })

        $("timeline").ready(function() {
            let scrollDistance = 5; // Measures distance since last scroll distance checks for timeline
                                    // This helps avoiding calling the callback every time the user scrolls
                                    // causing the browser to lag
            $(document).scroll(function(e) {
                let criticalPoint = $(e.target).scrollTop() + ($(window).height() * 0.8);

                // If timeline is on screen & the user has scrolled a significant distance since last call
                if($("#timeline").offset().top <= criticalPoint && scrollDistance++ > 5) {
                    scrollDistance = 0;
                    $(".timeline .tl-item").each(function(key, val) {
                        if(!$(val).attr("data-shown") && $(val).offset().top <= criticalPoint) {
                            $(val).attr("data-shown", "true");
                        }
                    });
                }
            })
        });

        $("#skills").ready(function() {
            $(".skill-data").each(function() {
                let width = $(this).width();
                let size = $(this).attr("data-value") / 100;
                $(this).css("border-left-width", size * width)
                $(this).width(width * (1.0 - size))
            });
        });

        $(document).ready(function() {
            $("a[data-target=\"" + window.location.hash + "\"]:visible").click()

            $("a").click(function(event) {
                if(this.hash !== "") {
                    event.preventDefault();

                    $("html, body").animate({
                        scrollTop: $(this.hash).offset().top,
                        duration: 500
                    });
                }
            });
        });


block content
    div#intro
        div#intro-content
            h1#name Hi, I'm Erik
            img#me(src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", onerror="imgLoadError(this)")

            div#carousel
                div.current.slide
                    h3 Full-stack developer
                div.next.slide
                    h3 Hypixel Moderator

            a(href="https://github.com/robere2")
                i.fab.fa-github.fa-3x.social
            a(href="https://twitter.com/bugfroggy")
                i.fab.fa-twitter.fa-3x.social
            a(href="https://hypixel.net/members/bugfroggy.52450/")
                i.fac.fa-hypixel.fa-3x.social
            a(href="https://bugg.co/quickplay/")
                i.fac.fa-quickplay.fa-3x.social

        a(href="#portfolio")
            i.fal.fa-angle-down.fa-5x#down-arrow

    div.container
        div#portfolio
            h2 Portfolio
            div#tabs
                a.tab.tab-active(data-target="#minecraft-modding") Minecraft Modding
                a.tab(data-target="#karaoke") Karaoke Panel
                a.tab(data-target="#watchdogger") Watchdogger
                //-a.tab(data-target="#image-sharing") Image Sharing
                hr

            div#minecraft-modding.tab-content.content-active
                div.left-text
                    h3 Minecraft Modding
                    p
                        | I started coding Minecraft mods in the Summer of 2017 using my minimal prior Java knowledge.
                        | My first mod was a mod called&nbsp;
                        a(href="https://bugg.co/quickplay/") "Quickplay,"
                        |  which to this day, is my most popular mod with tens of thousands of users.
                        | Some of my other Minecraft mods:
                    ul
                        li
                            a(href="https://minecraft.curseforge.com/projects/advancedxp") AdvancedXP
                        li
                            a(href="https://minecraft.curseforge.com/projects/animated-crosshair") Animated Crosshair

                div.right-image
                    img(src="images/quickplay.webp", onerror="imgLoadError(this)").screenshot
                    p.subtext Screenshot of Quickplay Minecraft Mod
            div#karaoke.tab-content
                div.left-text
                    h3 Karaoke Panel
                    p
                        | I joined the Hypixel Karaoke team sometime in 2015. Not long after, I became a team leader
                        | , taking on the role of furthering team resources and creating whatever content is needed
                        | by the team.

                    p
                        | This is one of the biggest projects I have taken on, and the team's web panel allows for
                        | things such as (but not limited to!) full singing signup management, team communication
                        | systems, an automated Hypixel Housing integration, and Discord user authentication.

                    p
                        a(href="https://hypixelkaraoke.me/") Click here to visit it.
                div.right-image
                    img(src="images/karaoke-dashboard.webp", onerror="imgLoadError(this)").screenshot
                    p.subtext Screenshot of the team's private dashboard for handling events
            div#watchdogger.tab-content
                div.left-text
                    h3 Watchdogger
                    p
                        | In January of 2016, the Hypixel network released their new advanced Minecraft cheat detection
                        | system called Watchdog. Initially, there was an API that provided data that was limited to the
                        | number of bans it executed in the last 60 seconds. That was it.

                    p
                        | This was the inspiration for creating my website, Watchdogger. It was designed to track every
                        | minute of Watchdog's bans and store them in a database, for long-term tracking. I've used this
                        | data to create a website listing Watchdog's accomplishments.

                    p
                        a(href="https://bugg.co/watchdogger") Click here to visit it.
                div.right-image
                    img(src="images/watchdog.webp", onerror="imgLoadError(this)").screenshot
            //div#image-sharing.tab-content
            //    div
            //        h3 Image Sharing
            //        p
            //            | For a while, I didn't have an image-sharing service that I liked. They were all either slow,
            //            | poor quality, cost money, or didn't have a good archive service. I made my own! It's not
            //            | available to the public at the moment, but eventually!
            //
            //        p
            //            a(href="https://bugg.co/i/") Click here to visit it.
        div#timeline
            h2 About Me
            div.timeline
                div#tl-line
                div.tl-item
                    div.tl-item-content
                        div.tl-img
                            img(src="images/young.webp", onerror="imgLoadError(this)")
                        h3.tl-title Birthday
                        h4.subtext September 10th, 1999
                        //- - let an = [8,11,18,80,81,82,83,84,85,86,87,88,89].includes(age) ? "an" : "a"
                        p I was born in 1999 in Virginia as an only child. Throughout my childhood I was a very shy person
                            | and usually kept to myself. I found it easier to interact with others over the internet.
                            | Dealing with them so much, computers began enthrall me. I am currently #{age} years old.
                div.tl-item
                    div.tl-item-content
                        h3.tl-title First Computer
                        h4.subtext ca. 2012
                        p In 2012, I worked with my dad to build my first desktop computer from the ground up. This
                            | experience considerably expanded my interests in computers. It was like a (very expensive)
                            | LEGO kit! I consider this to be the main event that sparked my interests in the computer
                            | science and computer engineering fields.
                div.tl-item
                    div.tl-item-content
                        div.tl-img
                            img(src="images/php.webp", onerror="imgLoadError(this)")
                        h3.tl-title First Programming Language
                        h4.subtext ca. 2014
                        p I started to learn programming at the early age of 13. Websites were fascinating to me and
                            | I wanted to make my own, so I set out to learn HTML. It didn't take long to get it under
                            | my belt, and not long after, I started learning my first programming language, PHP.
                            | Up until university, I was a fully self-taught programmer.
                div.tl-item
                    div.tl-item-content
                        div.tl-img
                            img(src="images/hypixel.webp", onerror="imgLoadError(this)")
                        h3.tl-title Hypixel Volunteer
                        h4.subtext June 2014 - Present
                        p I started volunteering for the Hypixel Minecraft Network in 2014 as a "JR Helper". Since then
                            | I've climbed the ladder up to the highest volunteer position available, which I've held
                            | for over four years.
                            br
                            a(href="https://hypixel.net/volunteer") Click here for more information.
                div.tl-item
                    div.tl-item-content
                        h3.tl-title Highschool Graduation
                        h4.subtext June 2017
                        p I graduated highschool in June of 2017. Despite the challenges along the way, I became the
                            | first student of my highschool to graduate with an advanced diploma.
                div.tl-item
                    div.tl-item-content
                        div.tl-img
                            img(src="images/nova.webp", onerror="imgLoadError(this)")
                        h3.tl-title Northern Virginia Community College
                        h4.subtext August 2017 - May 2018
                        p As an intermediary between graduating highschool and attending a four year university, I decided
                            | to take a year off and take classes at my local community college. This proved beneficial
                            | for me as it allowed me to adjust to the academic environment of college before moving away.
                div.tl-item
                    div.tl-item-content
                        div.tl-img
                            img(src="images/rpi.webp", onerror="imgLoadError(this)")
                        h3.tl-title Rensselaer Polytechnic Institute
                        h4.subtext August 2018 - Present
                        p I started attending Rensselaer Polytechnic Institute in the 2018 Fall semester, located in
                            | Troy, NY. I am currently studying Computer Science and plan on minoring in Philosophy.div.tl-item

        div#skills
            h2 Skills
            div#languages
                h3 Languages
                div.skill
                    h4.skill-title Javascript
                    div.skill-data(data-value="90")
                div.skill
                    h4.skill-title HTML/Pug
                    div.skill-data(data-value="90")
                div.skill
                    h4.skill-title CSS/Sass
                    div.skill-data(data-value="90")
                div.skill
                    h4.skill-title Java
                    div.skill-data(data-value="80")
                div.skill
                    h4.skill-title C++
                    div.skill-data(data-value="75")
                div.skill
                    h4.skill-title Bash
                    div.skill-data(data-value="75")
                div.skill
                    h4.skill-title SQL
                    div.skill-data(data-value="65")
                div.skill
                    h4.skill-title PHP
                    div.skill-data(data-value="55")
            div#frameworks
                h3 Frameworks & Tools
                div.skill
                    h4.skill-title Node.js/Express
                    div.skill-data(data-value="95")
                div.skill
                    h4.skill-title jQuery
                    div.skill-data(data-value="95")
                div.skill
                    h4.skill-title Git/hub
                    div.skill-data(data-value="90")
                div.skill
                    h4.skill-title Jetbrains
                    div.skill-data(data-value="90")
                div.skill
                    h4.skill-title Google Drive
                    div.skill-data(data-value="90")
                div.skill
                    h4.skill-title Cloudflare
                    div.skill-data(data-value="85")
                div.skill
                    h4.skill-title Google Analytics
                    div.skill-data(data-value="85")
                div.skill
                    h4.skill-title NPM
                    div.skill-data(data-value="80")
                div.skill
                    h4.skill-title Adobe Suite
                    div.skill-data(data-value="75")
                div.skill
                    h4.skill-title Bootstrap
                    div.skill-data(data-value="75")
                div.skill
                    h4.skill-title AWS
                    div.skill-data(data-value="70")
                div.skill
                    h4.skill-title Minecraft Forge
                    div.skill-data(data-value="70")
                div.skill
                    h4.skill-title Browser Extensions
                    div.skill-data(data-value="70")
                div.skill
                    h4.skill-title Nginx
                    div.skill-data(data-value="65")
                div.skill
                    h4.skill-title Composer
                    div.skill-data(data-value="65")

        div#contact
            h2 Contact
            div#content
                h4 Business Email
                div#email
                    button Show Email
                    p#err
                h4 Other
                p#contact-social
                    a(href="https://twitter.com/bugfroggy") Twitter
                    a(href="https://github.com/robere2") Github
                    a(href="https://hypixel.net/members/52450") Hypixel
        div#recaptcha.g-recaptcha
        div#footer
            p#copyright Copyright © Erik Roberts 2018
            p#source
              a(href="https://github.com/bugfroggy/Portfolio") Source
            hr