doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/favicon.ico?', type="image/x-icon")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", defer)
    script(src="fa/js/fontawesome.min.js", defer)
    script(src="fa/js/packs/regular.js", defer)
    script(src="fa/js/packs/light.js", defer)
    script(src="fa/js/packs/custom.js", defer)
    script(src="fa/js/packs/brands.js", defer)
    block head
  body
    block content
