extends layout

block content
    div.container
        div#privacy
            h1 Privacy Policy

            h3 Data
            p Users who visit my website are subject to have some data collected from them, including
                | although not limited to your IP, general location, browser language, OS version, etc.
                | No personal information is collected without explicit consent, and all data is
                | relatively anonymous. Almost all data is collected through Google Analytics,
                | a popular third party service used to monitor user traffic on websites.&nbsp;
                a(href="https://analytics.google.com/") Click here to view their website
                | &nbsp;and&nbsp;
                a(href="https://support.google.com/analytics/answer/6004245?hl=en") privacy policy.

            p Google ReCAPTCHA operates on my website in the background to verify that you are not a robot.
                | It does this by tracking your mouse movement, keystrokes, etc. If it is unsure, it may
                | prompt you asking you to click boxes to verify your authenticity. Google ReCAPTCHA may read
                | or modify your cookies throughout this entire process.&nbsp;
                a(href="https://www.google.com/recaptcha/intro/v3.html") Click here to view their website.

            h3 Cookies
            p Cookies are a way of associating a specific browser/user to their usage of a website.
                | Cookies are used on my website in order to keep track of how you navigate across my
                | website, which pages you use most, etc. Google Analytics uses cookies to track users.
                | Similarly, cookies are used to make sure you remain logged into your accounts and don't
                | lose any data you may have been working with when you close or reload your browser.

            h3 Projects
            p Most of my projects have their own special requirements, and as a result may have a different
                | privacy policy. Please check the project page for it's own "Privacy" or "Privacy Policy" link.
                | If you cannot find one, then you can assume it follows the same guidelines listed here, although
                | do not hesitate to contact me if you wish to confirm this or have any questions.

            a(href="/") Go home
        div#footer
            p#copyright Copyright © Erik Roberts 2018
            div#links
                p#source
                    a(href="https://github.com/bugfroggy/Portfolio") Source
                p#privacy-link
                    a(href="/privacy") Privacy
            hr