extends layout

block content
  div.container
    div#error-block
      h1#error-title Sorry!
      h3 Watchdogger has been disabled due to high up-keep.
      p I may bring it back in the future, however no promises!

    include footer
