repeating-list {
    position: absolute;
    display: flex;
    overflow: hidden;
}
repeating-list:hover, repeating-list:active {
    overflow: scroll;
}
@media (prefers-reduced-motion: reduce) {
    repeating-list {
        overflow: scroll;
    }
}
